<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2021</p>
                        <div class="h5">Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Engineering</div>
                                <h4 class="category">Jaihind College of Engineering,kuran </h4>
                                <ul>
                                    <li> JCOE College Of Engineering and Technology <b>ranks 3rd</b> in JCOE </li>
                                        <li>Completed BE in Computer Science and Engineering with <b>85% </b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2014-2016</p>
                        <div class="h5">Higher Secondary education</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4"></div>
                            <h4 class="category">Mahatma Gandhi Junior College</h4>
                            <ul>
                                    <li>Completed secondary education with <b>75%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2014</p>
                        <div class="h5">Secondary education</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">SSC</div>
                                <h4 class="category">Mahatma Gandhi Vidyalaya</h4>
                                <ul>
                                        <li>Completed with <b>85% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                            
</div>     